<p id="notice"><%= notice %></p>

<h1>Providers</h1>

<table>
  <thead>
    <tr>
      <th>Provider id</th>
      <th>First name</th>
      <th>Middle initial</th>
      <th>Last name</th>
      <th>Provider specialty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.id %></td>
        <td><%= provider.first_name %></td>
        <td><%= provider.middle_initial %></td>
        <td><%= provider.last_name %></td>
        <td><%= provider.provider_specialty %></td>
        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path %>
