<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @provider.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @provider.middle_initial %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @provider.last_name %>
</p>

<p>
  <strong>Provider specialty:</strong>
  <%= @provider.provider_specialty %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
