<p id="notice"><%= notice %></p>
<h1><%= @provider.last_name %>'s information</h1>
<p>
  <strong>First name:</strong>
  <%= @provider.first_name %>
  <a>	</a>
  <strong>Middle initial:</strong>
  <%=  @provider.middle_initial == ""? "--" : @provider.middle_initial %>
  <a>      </a>
  <strong>Last name:</strong>
  <%= @provider.last_name %>
  <a>	</a>
  <strong>Provider specialty:</strong>
  <%= @provider.provider_specialty == ""? "--" : @provider.provider_specialty %>
</p>

<p>
<h2><%= @provider.last_name %>'s appointment</h2>
</p>
<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Appointment date</th>
      <th>Time from</th>
      <th>Time to</th>
      <th>Appointment type</th>
      <th>Request met</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.patient.last_name + ", " + appointment.patient.first_name, patient_path(appointment.patient.id) %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.time_from.strftime('%R') %></td>
        <td><%= appointment.time_to.strftime('%R') %></td>
        <td><%= appointment.appointment_type == ""? "--" : appointment.appointment_type %></td>
        <td><%= appointment.request_met %></td>
        <td><%= link_to 'Show detail', appointment %></td>
        <td><%= link_to 'Edit appointment', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Delete record', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit provider information', edit_provider_path(@provider) %> |
<%= link_to 'Back to providers page', providers_path %>