<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table>
  <thead>
    <tr>
      <th>MRN</th>
      <th>First name</th>
      <th>Middle initial</th>
      <th>Last name</th>
      <th>Date of birth</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Cellphone number</th>
      <th>Home number</th>
      <th>Sex</th>
      <th>Patient type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.id %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.middle_initial %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.street %></td>
        <td><%= patient.city %></td>
        <td><%= patient.state %></td>
        <td><%= patient.zip %></td>
        <td><%= patient.cellphone_number %></td>
        <td><%= patient.home_number %></td>
        <td><%= patient.sex %></td>
        <td><%= patient.patient_type %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
