<p id="notice"><%= notice %></p>
<h1><%= @patient.last_name %>'s information</h1>
<p>
  <strong>MRN:</strong>
  <%= @patient.id %>
  <a> </a>
  <strong>First name:</strong>
  <%= @patient.first_name %>
  <a> </a>
  <strong>Middle initial:</strong>
  <%= @patient.middle_initial == ""? "--" : @patient.middle_initial %>
  <a> </a>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
  <a> </a>
  <strong>Sex:</strong>
  <%= @patient.sex %>
  <a> </a>
  <strong>Patient type:</strong>
  <%= @patient.patient_type == ""? "--" : @patient.patient_type %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
  <a> </a>
  <strong>Cellphone number:</strong>
  <%= @patient.cellphone_number == ""? "--" : @patient.cellphone_number %>
  <a> </a>
  <strong>Home number:</strong>
  <%= @patient.home_number == ""? "--" : @patient.home_number %>
</p>

<p>
  <strong>Street:</strong>
  <%= @patient.street == ""? "--" : @patient.street %>
  <a> </a>
  <strong>City:</strong>
  <%= @patient.city == ""? "--" : @patient.city %>
  <a> </a>
  <strong>State:</strong>
  <%= @patient.state == ""? "--" : @patient.state %>
  <a> </a>
  <strong>Zip:</strong>
  <%= @patient.zip == ""? "--" : @patient.zip %>
</p>

<h2><%= @patient.last_name %>'s appointment</h2>
<table>
  <thead>
    <tr>
      <th>Provider</th>
      <th>Appointment date</th>
      <th>Time from</th>
      <th>Time to</th>
      <th>Appointment type</th>
      <th>Request met</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.provider.last_name + ", " + appointment.provider.first_name, provider_path(appointment.provider.id) %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.time_from.strftime('%R') %></td>
        <td><%= appointment.time_to.strftime('%R') %></td>
        <td><%= appointment.appointment_type == ""? "--" : appointment.appointment_type %></td>
        <td><%= appointment.request_met %></td>
        <td><%= link_to 'Show detail', appointment %></td>
        <td><%= link_to 'Edit appointment', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Delete record', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit patient information', edit_patient_path(@patient) %> |
<%= link_to 'Back to patients page', patients_path %>