<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.last_name %>, <%= @appointment.patient.first_name %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @appointment.provider.last_name %>, <%= @appointment.provider.first_name %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Time from:</strong>
  <%= @appointment.time_from.strftime('%R') %>
</p>

<p>
  <strong>Time to:</strong>
  <%= @appointment.time_to.strftime('%R') %>
</p>

<p>
  <strong>Appointment type:</strong>
  <%= @appointment.appointment_type %>
</p>

<p>
  <strong>Appointment reason:</strong>
  <%= @appointment.appointment_reason %>
</p>

<p>
  <strong>Request met:</strong>
  <%= @appointment.request_met %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @appointment.comments %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
